# Pandas
Es una libreria de python para manipular datos unidimensionales o multidimensionales, a los datos unidimensionales se les denomina objetos y a los multidimensionales data frames

# Pandas Series Object

In [2]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

El indice comienza con 0

In [4]:
s1 = pd.Series([10,30,43,12,9382])
s1

0      10
1      30
2      43
3      12
4    9382
dtype: int64

# Cambiando Indice

In [5]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
s2=pd.Series([10,20,30,40,50],index=['spartaq','hello','world','d','e'])
s2

spartaq    10
hello      20
world      30
d          40
e          50
dtype: int64

# Series Object form Dictionary

In [11]:
s2=pd.Series({'a':10,'b':20,'c':30})
s2

a    10
b    20
c    30
dtype: int64

# Changing index position

In [14]:
s2=pd.Series({'a':10,'b':20,'c':30},index=['d','c','a','b'])
s2

d     NaN
c    30.0
a    10.0
b    20.0
dtype: float64

# Extracting Individual Object

In [17]:
#Extracting a single element
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[0]

1

In [24]:
#Extracting a sequence of elements
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[4:9]#del 4 al 8

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [26]:
s1[4:]#desde el 4 y todos los demas

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [28]:
s1[:4]#hasta el elemento 4-1

0    1
1    2
2    3
3    4
dtype: int64

In [29]:
#Extracting elements from back
s1=pd.Series([10,20,30,40,50])
s1[-3:]#los ultimos 3 elementos

2    30
3    40
4    50
dtype: int64

# Basic Math Operations on Series

In [36]:
s1=pd.Series([6,7,8,9,10,11,12,13,14])
s1+5

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [37]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([10,20,30,40,50,60,70,80,90])

In [38]:
s1+s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [39]:
s1*10

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [40]:
s1,s2

(0    1
 1    2
 2    3
 3    4
 4    5
 5    6
 6    7
 7    8
 8    9
 dtype: int64,
 0    10
 1    20
 2    30
 3    40
 4    50
 5    60
 6    70
 7    80
 8    90
 dtype: int64)

In [41]:
s1*s2

0     10
1     40
2     90
3    160
4    250
5    360
6    490
7    640
8    810
dtype: int64